@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
   font-family: "Larsseit";
   src: url("../fonts/Larsseit-Regular.woff2") format("woff2"), url("../fonts/Larsseit-Regular.woff") format("woff");
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Larsseit";
   src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
   font-display: swap;
   font-weight: 500;
   font-style: medium;
}
@font-face {
   font-family: "Larsseit";
   src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
   font-display: swap;
   font-weight: 700;
   font-style: bold;
}

body {
   font-family: "Larsseit";
}
.link {
   font-size: 30px;
   color:blue;
}
h1,
h2 {
   font-family: Larsseit;
   font-weight: 700;
   font-size: 40px;
   color:blueviolet; 
}
.google {
   font-size: 20px;
}
.content-text {
color:brown;
font-family: "Roboto";
font-size: 18px;
}
.text {
   font-family: "Lato";
   font-weight: 700;
   color:rgb(29, 112, 112);
}
#green {
   color: green;
}
.text * {
   font-family: "Lato";
   font-weight: 900;
   color: rgb(9, 37, 16);
}
.lorem {
   color: black;
}
.lorem.text-2 {
   color: rgb(255, 0, 149);
}
.text ~ p {
   font-size: 21px;
}
.text .lesson {
   color:rgb(231, 85, 66);
}

