@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
   font-family: 'Lato';
   line-height: 1.5;
   color: #424551;
}
.wrapper {
   display: flex;
   flex-direction: column;
}
.wrapper > main {
   flex-grow: 1;
}
[class*="__container"]{
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.title {
   font-weight: 900;
   line-height: 1.3;
   letter-spacing: 1px;
   color: #1E212C;
}
/*===========================*/

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 0;
	z-index: 50;
   font-weight: 700;
   line-height: 1.6;
}
.header__container {
   display: flex;
   align-items: center;
   gap: 60px;
}
.header__logo {

}
.header__menu {
   display: flex;
   gap: 40px;
   flex-grow: 1;
}
.menu {
}
.menu__list {
   display: inline-flex;
   gap: 40px;
   column-gap:40px;
	row-gap: 15px;
   flex-wrap: wrap;
}
.menu__item {
}
.menu__link:hover {
text-decoration: underline;
}
.menu__buttons {

}
.button-menu {
   align-items: center;
   gap: 36px;
   flex-shrink: 0;
	display: flex;
	flex-wrap: wrap;
}
.button-menu__btn-1 {
}
.button {
}
.button-menu__btn-2 {
}
.button--invisible { 
   color: #424551;
}
.button--invisible{
   background: url('../img/icons/Vector.svg') left no-repeat;
	padding-left: 24px;
	font-weight: 700;
	line-height: 1.25;
}
.button--invisible:hover {
   text-decoration: underline;
}

/*==============================*/
.main {
}
.main__block {
   padding: 200px 0px  80px 0px; 
   background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.main-block {
   position: relative;
	z-index: 2;
}
.main-block__container {
}
.main-block__wrapper {

}
.main-wrapper {
}
.main-wrapper__content {
   display: flex;
   flex-wrap: wrap;
}
.main-wrapper__box-1 {
   flex: 0 1 50%;
	padding-right: 40px;
   align-self: center;
}
.main-block__wrapper:not(:last-child){
   margin-bottom: 189px;
}
.box-1 {
}
.box-1__play {
   display: inline-flex;
   font-weight: 700;
	font-size: 14px;
	align-items: center;
	gap: 21px;
	position: relative;
}
.box-1__play:not(:last-child) {
   margin-bottom: 40px;
}
.box-1__play::after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: #FF3F3A;
	opacity: 0.12;
	transform: scale(1.6);
	animation:play 1.5s infinite ease;
}
.box-1__play::before {
   content: '';
   background: #FF3F3A url('../img/icons/Polygon.svg') center no-repeat;
   border-radius: 50%;
   width: 52px;
   height: 52px;
   flex: 0 0 52px;
   transition: background-color 0.3s ease 0s;
}
.box-1__play:hover::after {
	animation-play-state: paused;
}
.box-1__play:hover::before {
	background-color: #dd3832;
}

@keyframes play {
	0% {
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		transform: scale(3);
	}
}
.box-1__title {
   font-size: 64px;
}
.box-1__title:not(:last-child) {
   margin-bottom: 60px;
}
.title {
}
.box-1__buttons {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 24px;
}
.box-1__buttons:not(:last-child) {
   margin-bottom: 25px;
}
.box-1__button {
}
.button {
}
.button--border {
}
.button--color {
}
.main-wrapper__box-2 {
   flex: 0 1 50%;
}
.main-wrapper__image {
   max-width: 107.8%;
   transform: translate(7.8%,0px);
}
.main-wrapper__box-2 img{
   vertical-align: top;
}
.main-block__ {
}

/*=================================*/

.main-block__inner {
   display: flex;
   gap: 20px;
   align-items: center;
   justify-content: space-between;
}
.inner-main {
   display: flex;
   color: #1E212C;
   align-items: center;
   gap: 12px;
}
.inner-main__text {
   display: flex;
   gap: 12px;
   align-self: center;
}
.inner-main__value {
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
}
.inner-maun__circle {
   background: #FF3F3A;
   border-radius: 50%;
	flex: 0 0 8px;
	height: 8px;
}
.main-block__decore {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.decore-main {
}
.decore-main__item {
   position: absolute;

}
.decore-main__item--1 {
   background: url('../img/decore/1.svg') 0 0 no-repeat;
   width: 96px;
   height: 96px;
   top: 12.3%;
   left: 4.3%;
}
.decore-main__item--2 {
   background: url('../img/decore/2.svg') 0 0 no-repeat;
   width: 284px;
   height: 284px;
   bottom: -9.3%;
   left: -4.5%;
}
.decore-main__item--3 {
   background: url('../img/decore/3.svg') 0 0 no-repeat;
   width: 88px;
   height: 47px;
   top: 45.1%;
   left: 40.7%;
}
.decore-main__item--4 {
   background: url('../img/decore/4.svg') 0 0 no-repeat;
   width: 61px;
   height: 61px;
   top: 70.2%;
   left: 38.2%;
}
.decore-main__item--5 {
   background: url('../img/decore/5.svg') 0 0 no-repeat;
   width: 187px;
   height: 137px;
   bottom: 18%;
   right: -1.7%;
}
.decore-main__item--6 {
   background: url('../img/decore/1.svg') 0 0 no-repeat;
   width: 110px;
   height: 110px;
	top: -2.5%;
	right: 5%;
	transform: rotate(135deg);
}

/*====================*/
.main__createx {
   padding: 180px 0px;
   position: relative;
}
.createx-main {
}
.createx-main__container {
}
.createx-main__wrapper {
   display: flex;
   gap: 135px;
}
.wrapper-createx {
}
.wrapper-createx__box-1 {
}
.wrapper-createx__box-2 {
   align-self: center;
}
.box-2-createx {
}
.subtitle {
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #1E212C;
   font-weight: 700;
}
.box-2-createx__subtitle:not(:last-child) {
   margin-bottom: 8px;
}
.box-2-createx__title,
.courses-main__title {
   font-size: 46px;
}
.box-2-createx__title:not(:last-child) {
   margin-bottom: 40px;
}
.box-2-createx__list {
}
.box--crearex__item:not(:last-child) {
   margin-bottom: 12px;
}
.box--crearex__item::before {
   content: '';
   background: url(../img/Vector\ \(1\).svg) 0 0 no-repeat;
   width: 16px;
   height: 16px;
   top: 5px;
   left: 0;
   padding-right: 32px;
   display: inline-block;
   position: absolute;
}
.box-2-createx__list:not(:last-child) {
   margin-bottom: 48px;
}
ul li {
   position: relative;
   padding-left: 32px;
}
.box--crearex__item {
}

.createx-main__decore-2 {
}
.decore-2-main {
}
.decore-2-main__item {
   position: absolute;
}
.createx-main__decore-2 {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.decore-2-main__item--7 {
   background: url('../img/decore/6.svg') 0 0 no-repeat;
   width: 287.2px;
   height: 287.2px;
	top: 53.2%;
	right: -8.6%;
}
.decore-2-main__item--8 {
   background: url('../img/decore/7.svg') 0 0 no-repeat;
   width: 181.18px;
   height: 132.74px;
	top: 240px;
	left: -3.6%;
   opacity: 0.8;
   transform: rotate(-52.46deg);
}

/*==============================*/

.main__courses {
}
.courses-main {
   padding: 0 0 180px 0;
}
.courses-main__container {
}
.courses-main__wrapper {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   margin-bottom: 60px;
   gap: 30px;
   flex-wrap: wrap;
}
.wrapper-courses {
}
.wrapper-courses__box-1 {
}
.box-1-courses {
}
.courses-main__subtitle:not(:last-child) {
   margin-bottom: 8px;
}

.courses-main__title {

}
.title {
}
.wrapper-courses__box-2 {
}
.box-2-courses {
}
.box-2-courses__button {
}
.button {
}
.button--border {
}
.courses-main__cards {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;

}
.cards-courses {
}
.cards-courses__1 {
}
.card {
   display: flex;
   width: 600px;
   height: auto;
   background: #FFFFFF;
   border: 1px solid #E5E8ED;
   box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
   border-radius: 4px;
}
.card-1__image {
}
.image-card {
   width: 214px;
   height: 214px;
   border-radius: 4px 0px 0px 4px;
}
.image-card img 
.card-1__content {
}
.content-card {
   padding: 32px;
}
.content-card__button {
   margin-bottom: 20px;
   display: inline-block;
}
.button-card {
   font-size: 14px;
   line-height: 150%;
   color: #FFFFFF;
   border-radius: 4px;
   align-items: center;
   padding: 1px 8px;

}
.button-card--marketing {
   background: #03CEA4;
}
.content-card__title {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1E212C;
   margin-bottom: 20px;
}
.content-card__price {
   color: #787A80;
   font-size: 18px;
}
.content-card__price span{
   color: #FF4242;
   font-weight: 700;
}
.cards-courses__2 {
}
.card-2 {
}
.card-2__image {
}
.card-2__content {
}
.button-card--management {
   background: #5A87FC;
}
.cards-courses__3 {
}
.card-3 {
}
.card-3__image {
}
.card-3__content {
}
.button-card--recruting {
   background: #F89828;
}
.cards-courses__4 {
}
.card-4 {
}
.card-4__image {
}
.card-4__content {
}
.cards-courses__5 {
}
.card-5 {
}
.card-5__image {
}
.card-5__content {
}
.cards-courses__6 {
}
.card-6 {
}
.card-6__image {
}
.card-6__content {
}
.button-card--design {
   background: #F52F6E;
}