@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body{
	font-family: "Lato";
	color: #424551;
   line-height: 1.6;
}
header {
   padding-top: 40px;   
   margin-bottom: 60px;
   background-color: #e4d892;
}
header ol {
   font-size: 35px;
   font-weight: 700;
   padding-left: 15px;
}
[class*="__container"]{
	max-width: 1230px;
	margin: 0 auto;
}
.title {
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
   color: #1E212C;
}
.statistics__title--mb {
   margin-bottom: 110px;
}
.statistics__img {
   text-align: center;
   margin-bottom: 60px;
}
.statistics__text p:nth-child(1) {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1E212C;
   margin-bottom: 43px;
}
.statistics__text p:nth-child(2),
.statistics__text p:nth-child(3) {
   margin-bottom: 25px;
}
.statistics__text {
   position: relative;
}
.statistics__text blockquote::before {
   content: '';
   background: url(../img/braces.svg) 0 0 no-repeat;
   width: 28px;
   height: 20px;
   display: inline-block;
   position: absolute;
   top: 255px;
   left: 0;
   margin-left: -17px;
}
.statistics__text blockquote {
   padding-left: 46px;
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1E212C;
   margin-bottom: 48px;
}
.statistics__mauris--mb {
   margin-bottom: 24px;
}
.main__statistics,
.main__section {
   margin-bottom: 180px;
}
.main__section {
   display: flex;
}
.first__img img, 
.statistics__img img {
   max-width: 100%;
}
.first__img {
   margin-right: 135px;
}
ul li::before {
   content: '';
   width: 16px;
   height: 16px;
   background: url(../img/Vector\ \(4\).svg) 0 0 / 100% no-repeat;
   display: inline-block;
   position: absolute;
   top: 5px;
   left: 0;
}
ul li {
   position: relative;
   padding-left: 32px;
}
ul li:not(:last-child) {
   margin-bottom: 4px;
}
ul {
   margin-bottom: 25px;
}

.button {
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   border-radius: 4px;
   width: 175px;
   padding: 15px 0px;
   color: #FFFFFF;
   text-align: center;
}
.second__content {
   width: 390px;
   height: auto;
}
.courses__box {
   display: flex;
   justify-content: space-between;
}
.courses__button {
   color: #FF3F3A;
   width: 202px;
   padding: 9px 0px;
   border-radius: 4px;
   border: 1px solid #FF3F3A;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
}
.second__title {
   margin-bottom: 40px;
}
.second__list {
   margin-bottom: 48px;
}
.courses__text--uppercase,
.second__text--uppercase,
.benefits__text--uppercase {
   text-transform: uppercase;
   margin-bottom: 8px;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.5;
   color: #1E212C;
}
.content__desc {
   text-align: center;
   padding: 5px 0px;
   width: 85px;
   border-radius: 4px;
   font-size: 14px;
   line-height: 1.5;
   color: #FFFFFF;
}
.content__desc--color {
   background: #03CEA4;
}
.content__desc--blueviolet {
   background: #5A87FC;
   width: 97px;
}
.content__desc--orange {
   background: #F89828;
   width: 112px;
}
.content__desc--pink {
   width: 59px;
   background: #F52F6E;
}
.main__courses {
   margin-bottom: 180px;
}
span {
   font-weight: 700;
   font-size: 18px;
   line-height: 1.5;
   color: #FF4242; 
}
.content__text{
   font-size: 18px;
   line-height: 1.5;
   color: #787A80;  
}
.wrap__card {
   display: flex;   
   box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
   border-radius: 4px;
   border: 1px solid #E5E8ED;
   max-width: 600px;
   height: auto;
   
}
.card__img {
   width: 214px;
   height: 214px;
   overflow: hidden;
}
.card__img img {
   display: inline-block;
   max-width: 100%;
   object-fit: cover;
}
.card__content {
padding: 32px;
}
.content__desc,
.content__subtitle {
   margin-bottom: 20px;
}
.wrap__card:not(:last-child) {
   margin-bottom: 30px;
}
.content__subtitle {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1E212C;
}
.benefits__wrap {
   margin-bottom: 60px;
   text-align: center;
}
.benefits__buttons {
   display: flex;
   justify-content: space-between;
   margin-bottom: 60px;
}
.buttons {
}
.buttons__btn {
   color: #9A9CA5;
   width: 307px;
   padding: 9px 0px;
   border-radius: 4px;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
}
.buttons__btn--active {
   border: 1px solid #FF3F3A;
   color:  #FF3F3A;;
}
.buttons__btn:nth-child(1)::before {
   content: '';
   background: url(../img/Star.svg) 0 0 no-repeat;
   width: 15px;
   height: 15px;
   display: inline-block;
   margin-right: 9px;
}
.buttons__btn:nth-child(2)::before {
   content: '';
   background: url(../img/shape\ \(Stroke\).svg) 0 0 no-repeat;
   width: 15px;
   height: 15px;
   display: inline-block;
   margin-right: 9px;
}
.buttons__btn:nth-child(3)::before {
   content: '';
   background: url(../img/Vector.svg) 0 0 no-repeat;
   width: 15px;
   height: 15px;
   display: inline-block;
   margin-right: 9px;
}
.buttons__btn:nth-child(4)::before {
   content: '';
   background: url(../img/Vector1.svg) 0 0 no-repeat;
   width: 15px;
   height: 15px;
   display: inline-block;
   margin-right: 9px;
}
.benefits__box {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 120px;
}
.box__text {
   width: 495px;
   height: auto;
   align-items: center;
   justify-content: center;
}
.text__subtitle {
   font-weight: 900;
   font-size: 32px;
   line-height: 1.3;
   color: #1E212C;
   margin-bottom: 24px;
}

.box__text 

.text 

.benefits__img {
   max-width: 100%;
}
